In [6]:
import mysql.connector
from mysql.connector import Error

try:
    conn = mysql.connector.connect(
        host='localhost',
        database='sqlsql',
        user='chy',
        password='123456'
    )

    if conn.is_connected():
        print('数据库连接成功.')

        cursor = conn.cursor()

        # 插入示例用户信息到Users表
        insert_user = """
        INSERT INTO Users (User_ID, Email, Password, User_name,Users_Properties)
        VALUES (0001, '1744044630@qq.com', '123456', 'chy','regular')
        """
        cursor.execute(insert_user)
        conn.commit()
        print('用户信息插入成功.')

        
finally:
    if conn.is_connected():
        cursor.close()
        conn.close()
        print('数据库连接已关闭.')

数据库连接成功.
数据库连接已关闭.

IntegrityError: 1062 (23000): Duplicate entry '1' for key 'PRIMARY'